# -------------------------------
# Node & runtime garbage
# -------------------------------
node_modules
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log
*.log

# -------------------------------
# Nx & build caches
# -------------------------------
dist
tmp
.nx
.cache
.hmr

# -------------------------------
# IDE / OS / tooling
# -------------------------------
.vscode
.idea
.DS_Store
Thumbs.db
*.swp
*.swo

# -------------------------------
# Git / CI
# -------------------------------
.git
.gitignore
.github
.gitlab
.gitlab-ci.yml

# -------------------------------
# Environment files
# -------------------------------
*.env
*.env.local
*.env.*.local
.envrc

# -------------------------------
# Angular-specific
# -------------------------------
apps/**/src/**/*.spec.ts
apps/**/src/**/*.test.ts
apps/**/src/**/*.stories.ts
apps/**/src/**/*.md

# -------------------------------
# NestJS-specific
# -------------------------------
apps/**/src/**/*.spec.ts
apps/**/src/**/*.test.ts
